.img1 {
    background-image: url("..//images/pokemon-nature-pikachu-charmander-wallpaper-4664237548c040be06a0d9e164fe6dd4.jpg");
    background-size: 100%;
    /* background-position: 100%; */
}


.main-div {
    display: flex;
}