@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

.img1 {
    background-image: url("..//images/pokemon-nature-pikachu-charmander-wallpaper-4664237548c040be06a0d9e164fe6dd4.jpg");
    background-size: 100%;
    /* background-position: 100%; */
}

/* .text-muted {
    padding-top: 100px;
} */

.main-div {
    display: flex;
}

.logo {
    width:80px;
}
.poke-trainer {
    font-family: 'Bebas Neue', cursive;
font-family: 'Permanent Marker', cursive;
color:#FDD624;
font-size:50px ;
}

.game-container {
    display: flex;
    width:100vw;
    height:80vh;
    gap:50px;
    padding:20px
}
.con1 {
    flex:0.3;
    padding:40px;
    display:flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    background-color: #17a3b888;;
}
.con2 {
    flex:0.7;
    padding:100px;
    border-radius: 10px;
}
.favorite-container {
    height: 100%;
    background-image:url('../images/PokeDex1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
}